<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
		<title>!</title>
		<base href="/">
		<script src="https://code.jquery.com/jquery.js"></script>
		<link href="/RetailSmart/Jquery/jquery.multiselect.css" rel="stylesheet"/>
		<script src="/assets/js/burgers.js"></script>
		{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
		<link rel="stylesheet" href="/assets/css/style.css">  
		
		
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
